# Python
__pycache__/
*.py[cod]

# Local virtual environments
.venv/
venv/

# Flutter / Dart
.dart_tool/
.packages
build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.metadata
